<!DOCTYPE html>
<html>
<head>
		<title>Initiative Tracker - Admin</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <body class="container my-4"> -->
 <body class="container my-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
		<h1>Admin Panel - Initiative Tracker</h1>

		<form method="post" action="/add" class="mb-3">
		<div class="row">
			<div class="col">
				<input name="name" placeholder="Name" class="form-control" required>
				</div>
			<div class="col">
				<input name="initiative" type="number" placeholder="Initiative" class=form-control" required>
				</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>

<h2>Initiative Order:</h2>
<ol>
		{% for combatant in initiative_list %}
			{% set i = loop.index0 %}
			<li class="
					{% if i == current_turn %}fw-bold text-danger {% endif %}
					{% if combatant.status == 'dead' %}dead{% endif %}
			">
				{% if -5 <= combatant.initiative <= 25 %}
					{{ combatant.name}} ({{ combatant.initiative }})
				{% else %}
					{{ combatant.name}} ({{ combatant.initiative }} really?🙄)
				{% endif %}
				

				{% if combatant.status != 'dead' %}
						<a href="{{ url_for('dead', name=combatant.name) }}" class="btn btn-sm btn-warning ms-2">Dead</a> {% endif %}
			<a href="{{ url_for('delete', name=combatant.name) }}" class="btn btn-sm btn-danger ms-2">Delete</a>
			</li>
			{% endfor %}
</ol>

<div class="mt-3" style="padding: 10px;">
		<a href="/next" class="btn btn-success d-block mx-auto my-2">Next Turn</a>
</div>
<div class="mt-3" style="padding: 10px;">
		<a href="/reset" class="btn btn-danger d-block mx-auto my-2">Reset</a>
</div>

<!--- import from csv stuff -->
<div class="mt-3" style="padding:10px;">

    <form action="/upload_csv" method="post" enctype="multipart/form-data">
        <label for="csvfile">import combatants (csv):</label>
        <input type="file" name="file" id="csvfile" accept=".csv" required>
        <button type="submit">upload</button>
    </form>

</div>

<!--- export current initiative -->
<div class ="mt-3" style="padding:10px;">
    <a href="{{ url_for('export_initiative') }}" class="btn btn-success my-2">Export Initiative List</a>
</div>

<div class="mt-3" style="padding:10px;">
		<a href="/player" class="btn btn-secondary d-block mx-auto my-2"> Go to Player View</a>
</div>

<!-- notes methods -->
<form method="post" action="/add_note" class="mb-3">
		<div class="row">
			<div class="col">
				<input name="note" placeholder="Note" class="form-control" required>
				</div>

<div class="mt-3" style="padding: 10px;">
		<a href="/clear_notes" class="btn btn-success d-block mx-auto my-2">Clear Notes</a>
</div>
<!-- this is my notes section -->
   <p style="text-align: center;
              font-size: 1rem;"> NOTES:</p>
   {% for note in notes %}
       <li style="font-size: 1rem;
                  padding: 0;
                  margin: 0;">
         {{ note }}
         </li>
   {% endfor %}

</body>
</html>
