<!DOCTYPE html>
<html>
<head>
		<title>Initiative Tracker - Admin</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <body class="container my-4"> -->
 <body class="container my-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
		<h1>Admin Panel - Initiative Tracker</h1>
        <p style="font-size: 1rem;">Session code: <strong style="font-size: 1.5rem;">{{ code }}</strong></p>
        <form action="/{{ code }}/add" method="post" class="mb-3">
		<div class="row">
			<div class="col">
				<input name="name" placeholder="Name" class="form-control" required>
				</div>
			<div class="col">
				<input name="initiative" type="number" placeholder="Initiative" class=form-control" required>
				</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>

<h2>Initiative Order:</h2>
<ol>
		{% for combatant in initiative_list %}
			{% set i = loop.index0 %}
            <div class="same-line 
                         {% if combatant.status == 'dead' %}dead{% endif %}">
                
			    <span class="{% if i == current_turn %}highlight-turn{% endif %}">
                    {{ loop.index }}. {{ combatant.name }} ({{ combatant.initiative }})
                </span>
				<form action="/{{ code }}/delete/{{ combatant.name }}" method="post">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
                
                <form action="/{{ code }}/toggle_dead/{{ combatant.name }}" method="post">
                    <button class="btn btn-danger btn-sm">
                        {{ 'Alive' if combatant.status == 'dead' else 'Dead' }}
                    </button>
                </form>
        </div>
			{% endfor %}
</ol>

<div class="same-line">

    <form action="/{{ code }}/next" method="post">
        <button type="submit" class="btn btn-success">Next Turn</button>
    </form>
    <form action="/{{ code }}/previous" method="post">
        <button type="submit" class="btn btn-success">Previous Turn</button>
    </form>

    <form action="/{{ code }}/reset" method="post">
        <button type="submit" class="btn btn-danger btn-sm">Reset</button>
    </form>
</div>
<!--- import from csv stuff -->
<div class="same-line">

    <form action="/{{ code }}/upload_csv" method="post" enctype="multipart/form-data">
        <label for="csvfile" style="font-size: 1.5rem;font-weight: bold;">Import combatants (csv):</label>
        <input type="file" name="file" id="csvfile" accept=".csv" required>
        <button class="btn btn-danger btn-sm">Upload</button>
    </form>
    <form action="/{{ code }}/export_initiative" method="post">
        <button class="btn btn-danger btn-sm">Export</button>
    </form>


</div>

<!--- export current initiative -->
<form action="/player/{{ code }}">
 <button class="btn btn-danger btn-sm">Go to Player View</button>
</form>

<!-- notes methods -->
<form method="post" action="/{{ code }}/add_note" class="mb-3">
		<div class="row">
			<div class="col">
				<input name="note" placeholder="Note" class="form-control" required>
                <button type="submit" class="btn btn-danger btn-sm">Add Note</button>
</form>
                <form method="post" action="/{{ code }}/clear_notes" class="mb-3">
                    <button class="btn btn-danger btn-sm">Clear Notes</button>
                </form>
            </div>
<!-- this is my notes section -->
   <p style="text-align: center;
              font-size: 1rem;"> NOTES:</p>
   {% for note in notes %}
       <li style="font-size: 1.5rem;
                  padding: 0;
                  margin: 0;">
         {{ note }}
         </li>
   {% endfor %}

</body>
</html>
