<!DOCTYPE html>
<html>
<head>
	<title>Initiative Tracker</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<style>
			body {
					font-size: 2rem;
			}
			.current-turn {
					color: red;
					font-weight: bold;
			}
		</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

</head>
<!-- <body class="container my-4"> -->
<body class="container my-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">

	<h1 style="font-family: 'Cinzel Decorative', serif;
						text-align: center;
						font-size: 3rem;
						letter-spacing: 2px;
						text-shadow: 2px 2px 4px #000000;
                        margin-bottom: -60px">INITIATIVE ORDER</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <div class="round-container">
           <div class="round-text">
               ROUND: {{ round_count }}
           </div>
    </div>
	<ol>
		{% for combatant in initiative_list %}
				<li class="
						{% if loop.index0 == current_turn %} current-turn {% endif %}
						{% if combatant.status == 'dead' %} dead {% endif %}
				">
						{{ combatant.name }} ({{ combatant.initiative }})
				</li>
		{% endfor %}
	</ol>

<div class="mt-3" style="padding:10px;
                         font-size: 1rem">
         <a href="/admin" class="btn btn-secondary d-block mx-auto my-2"> Go to Admin View</a>
</div>
<!-- this is my notes section -->
	<p style="text-align: center;
						 font-size: 1rem;"> NOTES:</p>
	{% for note in notes %}
			<li style="font-size: 1rem;
								 padding: 0;
								 margin: 0;">
				{{ note }}
				</li>
	{% endfor %}

	<script>
			setInterval(function() {
					location.reload();
			}, 1000);	//auto refresh
	</script>


</body>
</html>


