<!DOCTYPE html>
<html>
<head>
	<title>Initiative Tracker</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<style>
			body {
					font-size: 2rem;
			}
			.current-turn {
					color: red;
					font-weight: bold;
			}
		</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

</head>
<!-- <body class="container my-4"> -->
<body class="container my-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">

	<h1 style="font-family: 'Cinzel Decorative', serif;
						text-align: center;
						font-size: 3rem;
						letter-spacing: 2px;
						text-shadow: 2px 2px 4px #000000;
                        margin-bottom: -60px">INITIATIVE ORDER</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <div class="round-container" id="round-count">
           <div class="round-text">
               ROUND: <span id="round-number">{{ round_count }}</span>
           </div>
    </div>
	<ol id="initiative-list">
		{% for combatant in initiative_list %}
				<li class="
						{% if loop.index0 == current_turn %} current-turn {% endif %}
						{% if combatant.status == 'dead' %} dead {% endif %}
				">
						{{ combatant.name }} ({{ combatant.initiative }})
				</li>
		{% endfor %}
	</ol>

<form action="/admin/{{ code }}">
    <button class="btn btn-danger btn-sm">Go to Admin View</button>
</form>


<p style="font-size: 1.5rem;">Session code: <strong>{{ code }}</strong></p>
<!-- this is my notes section -->
	<p style="text-align: center;
						 font-size: 1.5rem;"> NOTES:</p>
    <ul id="notes-list">
        {% for note in notes %}
			<li style="font-size: 1rem;
								 padding: 0;
								 margin: 0;">
				{{ note }}
			</li>
	{% endfor %}
    </ul>

    <script>
        let warned = false;

        function refreshInitiative() {
                    fetch('/player_data/{{ code }}')
                        .then(response => response.json())
                        .then(data => {
                            //update round count
                            document.getElementById('round-number').innerText = data.round_count;
                            const list = document.getElementById('initiative-list');
                            list.innerHTML = ''; //clear existing list
                            data.initiative_list.forEach((combatant, index) => {
                                 const li = document.createElement('li');
                                        li.textContent = `${combatant.name} (${combatant.initiative})`;
                                        
                                        if (index === data.current_turn) {
                                            li.classList.add('current-turn');
                                            }
                                        if (combatant.status === 'dead') {
                                            li.style.textDecoration = 'line-through';
                                        }

                                        list.appendChild(li);
                                    });
                                    const notesList = document.getElementById('notes-list');
                                    notesList.innerHTML = '';
                                    data.notes.forEach(note => {
                                                const li = document.createElement('li');
                                                li.style.fontsize = "1rem";
                                                li.style.padding = "0";
                                                li.style.margin = "0";
                                                li.textContent = note;
                                                notesList.appendChild(li);
                                            });
                                    
                                    //const expiry = new Data(data.expiry_time);
                                    //const now = new Date();
                                    //const timeLeft = expiry - now;

                                    //if (timeLeft <= 5 * 60 * 1000 && !warned) {
                                    //            warned = true;
                                    //            alert("!!!! Your session will expire in 5 minutes!! Make sure to save your notes");
                                            }
                             })
                             .catch(error => console.error('error fetching player data:', error));
               }
        setInterval(refreshInitiative, 2000);

        //initial load
        refreshInitiative();
    </script>


</body>
</html>


